# THE Best Neighborhood in Pittsburgh
### All data was updated as of 11/11/2019

In [1]:
import pandas as pd

In [2]:
#importation of all csv files into pandas DataFrames
arrests = pd.read_csv("Crime.csv")
playgrounds = pd.read_csv("Playgrounds.csv")
school_enrollment = pd.read_csv("SchoolEnrollment.csv", index_col="Id")

In [19]:
#Counting number of times each neighboorhood is mentioned in Crime.csv
arrests_neighborhood = arrests.groupby('INCIDENTNEIGHBORHOOD').size().sort_values()
arrests_neighborhood = pd.DataFrame(arrests_neighborhood)
arrests_neighborhood.head()

                          0
INCIDENTNEIGHBORHOOD
Mt. Oliver Neighborhood   2
Troy Hill-Herrs Island    6
Mt. Oliver Boro          12
Ridgemont                13
Regent Square            19

In [20]:
#group playgrounds by neighborhood
playgrounds_num = playgrounds.groupby('neighborhood').size().sort_values(ascending = False)
playgrounds_num = pd.DataFrame(playgrounds_num)
playgrounds_num.head()

                     0
neighborhood
Squirrel Hill South  8
Beechview            5
South Side Slopes    5
Allegheny Center     4
Highland Park        4

In [14]:
#group estimated number of kids enrolled in school by neighborhood
school_enrolled = school_enrollment[['Neighborhood','Estimate; Total:']]
school_enrolled.head()

         Neighborhood  Estimate; Total:
Id
1    Allegheny Center            1389.0
2      Allegheny West             343.0
3           Allentown            2520.0
4           Arlington            1823.0
5   Arlington Heights             213.0