# THE Best Neighborhood in Pittsburgh
### A project by Brian Grammer, Jeff Leonata, & Matt Gutkin
##### All data was downloaded as of 11/11/2019
---

## Introduction
##### We used a variety of datasets to try and come up with the best neighborhood for all of Pittsburgh
##### We looked through all of the available datasets and chose three that seemed to relate
##### Some of the other things we tried to explore, but ultimately nixed were Traffic Sings and Convenience stores
---

## Mertic
##### We decided on using the current Crimes, Playgrounds, and School Enrollment numbers as our metric for best neighborhood

In [2]:
import pandas as pd

In [3]:
#importation of all csv files into pandas DataFrames
arrests = pd.read_csv("Crime.csv")
playgrounds = pd.read_csv("Playgrounds.csv")
school_enrollment = pd.read_csv("SchoolEnrollment.csv", index_col="Id")

In [4]:
school_enrollment2 = school_enrollment[['Neighborhood', 'Estimate; Total:']]
school_enrollment2.groupby('Estimate; Total:')
school_enrollment2 = school_enrollment2.reset_index()
school_enrollment2.head(5)

   Id       Neighborhood  Estimate; Total:
0   1   Allegheny Center            1389.0
1   2     Allegheny West             343.0
2   3          Allentown            2520.0
3   4          Arlington            1823.0
4   5  Arlington Heights             213.0

In [5]:
#Counting number of times each neighboorhood is mentioned in Crime.csv
arrests_neighborhood = arrests.groupby('INCIDENTNEIGHBORHOOD').size()
arrests_neighborhood = arrests_neighborhood.to_frame()
arrests_neighborhood = arrests_neighborhood.reset_index()
arrests_neighborhood = arrests_neighborhood.rename(columns = {"INCIDENTNEIGHBORHOOD":"Neighborhood", 0:"Num_Crimes"})
arrests_neighborhood.head(5)

        Neighborhood  Num_Crimes
0   Allegheny Center         653
1     Allegheny West          75
2          Allentown         539
3          Arlington         168
4  Arlington Heights         100

In [6]:
#Finds the neighborhood with the most playgrounds
playgrounds_num = playgrounds_num = playgrounds.groupby('neighborhood').size()
playgrounds_num = playgrounds_num.to_frame()
playgrounds_num = playgrounds_num.reset_index()
playgrounds_num = playgrounds_num.rename(columns = {"neighborhood": "Neighborhood", 0:"Num_Playgrounds"})
playgrounds_num.head(5)

        Neighborhood  Num_Playgrounds
0   Allegheny Center                4
1          Allentown                1
2         Banksville                1
3  Bedford Dwellings                1
4          Beechview                5

---
## Ratios
##### To best decide what neighborhood would be best, we created created a playground-to-crime ratio and a school enrollment-to-crime ratio

In [7]:
#Playground to crime ratio
ratio = 0
ratioDataframe =arrests_neighborhood

for i in range(0, len(arrests_neighborhood)):
    for j in range(0, len(playgrounds_num)):
        if playgrounds_num.loc[j, 'Neighborhood'] == arrests_neighborhood.loc[i, 'Neighborhood']:
            ratio = float(playgrounds_num.loc[j, 'Num_Playgrounds'])/float(arrests_neighborhood.loc[i, 'Num_Crimes'])
            ratioDataframe.loc[i, "Num_Crimes"] = ratio
ratioDataframe = ratioDataframe.sort_values("Num_Crimes").head(len(playgrounds_num))
ratioDataframe.head(5)

        Neighborhood  Num_Crimes
42    Homewood North    0.000965
78  South Side Flats    0.001024
10             Bluff    0.001272
68       Perry South    0.001570
52       Middle Hill    0.001757

In [11]:
#school enrollment to crime ratio
ratio = 0
ratioDataframe =arrests_neighborhood

for i in range(0, len(arrests_neighborhood)):
    for j in range(0, len(school_enrollment2)):
        if school_enrollment2.loc[j, 'Neighborhood'] == arrests_neighborhood.loc[i, 'Neighborhood']:
            ratio = float(school_enrollment2.loc[j, 'Estimate; Total:'])/float(arrests_neighborhood.loc[i, 'Num_Crimes'])
            ratioDataframe.loc[i, "Num_Crimes"] = ratio
ratioDataframe = ratioDataframe.sort_values("Num_Crimes").head(len(school_enrollment2))
ratioDataframe.head(5)

        Neighborhood  Num_Crimes
42    Homewood North    0.000965
78  South Side Flats    0.001024
10             Bluff    0.001272
68       Perry South    0.001570
52       Middle Hill    0.001757

---
## Visuals

---
## Conclusion
<p>We decided in the end that South Side Central was the best neighborhood</p>